html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  font-family: cursive;
}

.contanierCard {
  background-color: darkorange;
  border: 10px solid antiquewhite;
  border-radius: 10px;
  font-family: cursive;
  font-size: 0%;
  height: 400px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 250px;
}

.subContanier {
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 10px;
  height: 345px;
  position: relative;
}

.subContanier h1 {
  background-color: black;
  color: antiquewhite;
  font-size: 20px;
  padding: 5px;
  text-align: right;
}

.subContanier img {
  height: 120px;
  width: 100%;
}

.subContanier p {
  margin-bottom: 5px;
  padding-left: 5px;
}

.subContanier span {
  display: none;
  font-size: 12px;
  padding-left: 5px;
}

.info {
  background-color: black;
  color: antiquewhite;
  font-size: 10px;
  padding: 5px;
  top: auto;
}

.attr {
  border-bottom: 1px solid black;
  font-size: 15px;
  padding-bottom: 10px;
}

.trunfo {
  color: black;
  font-size: 13px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
}
