html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  font-family: cursive;
}

.page {
  background-color: #030303;
}

.addCard {
  background-color: #030303;
  border: 2px solid darkgray;
  border-radius: 10px;
  display: flex;
  height: 550px;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  padding: 50px 200px;
}

.cardsSalvos {
  background-color: 030303;
  border: 2px solid darkgray;
  border-radius: 10px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
}

h1, h2 {
  color: antiquewhite;
  font-family: cursive;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

h3 {
  color: lightgray;
  margin-bottom: 10px;
}

.filtro {
  margin-right: 20px;
}

.btnDelete {
  background-color: red;
}
