.page {
  background-color: black;
}

.addCard {
  background-color: gray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gainsboro;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  padding: 50px 200px;
}

.cardsSalvos {
  background-color: gray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gainsboro;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
}

h1, h2 {
  color: antiquewhite;
  font-family: cursive;
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.filtro {
  margin-right: 20px;
}
